html, body {
    overflow-x: hidden;
}
h1, h2, p, div, a, li, ul {
    margin: 0;
    padding: 0;
}
a {
    color: #d76bab;
    text-decoration: none;
}
.btn{
    cursor: pointer;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Century Gothic";
    background-color: #fff;
}
.container{
    max-width: 900px;
    margin-inline: auto;
    padding-inline: 5%;
    overflow: hidden;
}
.container-main{
    max-width: 900px;
    margin-inline: auto;
    /* padding-inline: 16px; */
    padding-top: 0px;
}

.header{
    position: sticky;
    top: 0;
    /* width: 100%; */
    background-color: #fff;
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    z-index: 1000;
}
.header-nav{
    display: flex;
    /* gap: 16px; */
    justify-content: space-between;
    align-items: center;
}
.img-logo {
    width: clamp(180px, 40vw, 383px);
}

#instagram-img{
    width: clamp(40px, 8vw, 58px);
    height: clamp(40px, 8vw, 58px);
    /* height: 50px; */
    background-color: #fff;
    background-image: url('../images/instagram.png');
    background-repeat: no-repeat;
    background-size: contain;    
    border: none;
}
.link_logo{
    width: 40px;
}
.off-screen-menu{
    padding-top: 30px;
    background-color: #fff;
    /* height: 40vh; */
    width: 100%;
    max-width: 150px;
    position: relative;
    top: 0;
    right: -400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    transition: .3s ease;
}
.off-screen-menu.active{
    right: 5vh;
}
nav{
    padding: 1 rem;
    display: flex;
    background-color: #fff;
}

.menu{
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
    z-index: 20;
    cursor: pointer;
}
.menu span{
    height: 5px;
    width: 100%;
    background-color: #000;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.menu span:nth-child(1){
    top: 25%;
}
.menu span:nth-child(3){
    top: 75%;
}
.menu.active span{
    background-color: #d76bab;
}
.menu.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.menu.active span:nth-child(2){
    opacity: 0;
}
.menu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, 50%) rotate(-45deg);
}


.title-wrapper{
    padding-top: 60px;
    text-align: center;
}

.btn-title{
    width: clamp(150px, 40vw, 436px);
    /* max-width: 436px; */
    /* width:  min(100%, 350px); */
    padding: 10px 20px;
    color: white;
    border: none;
    font-size: clamp(18px, 4vw, 38px);
    line-height: 1.5;
    font-weight: bold;
    background-image: linear-gradient(-32deg, rgba(238,96,156,0.9999999999999999) 0%, rgba(181,100,217,0.996078431372549) 100%);
    margin-bottom: 48px;
    border-radius: 999px;
}
.title {
    font-size:  clamp(28px, 6vw, 54px);
    /* letter-spacing: 1px; */
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: 17px;
}
.sub-title{
    font-size: clamp(18px, 4vw, 33px);
    /* letter-spacing: 3px;
    line-height: 58px; */
    line-height: 1.1;
    color: #494648;
    font-weight: bold;
    margin-bottom: 60px;
}
.text-about{
    font-size: clamp(16px, 3.5vw, 29px);
    line-height: 1.5;
}
.text-group{
    font-size: clamp(16px, 3.5vw, 29px);
    line-height: 1.5;
    text-decoration: underline;
    color: #d76bab;
    cursor: pointer;
}
/* .my-item:nth-last-of-type(n+2){
    margin-bottom: 50px;
} */
li{
    list-style: none;
}
.class-item{
    margin-bottom: clamp(30px, 5vw, 130px);
}
.title-list{
    font-size: clamp(32px, 3.5vw, 42px);
}
.text{
    font-size: clamp(16px, 3.5vw, 29px);
    text-align: justify;
    /* letter-spacing: 2px; */
    line-height: 1.5;
}

.bg-1{
    /* position: relative; */
    width: 100%;
    margin-top: 10px;
}
.text-line{
    text-decoration: underline;
}
.mb-20px{
    margin-bottom: 20px;
}
.logo-white-item{
    height: 91px;
    /* margin-right: 40px; */
    background-color: #d76bab;
}
.crutch{
    height: 800px;
}
.bg-foto{
    margin-bottom: 25px;
    position: relative;
    width: 100%;
    height: clamp(600px, 100vh,1000px); /* або будь-яка інша висота */
     /* overflow: hidden;щоб фото не могли виходити за межі */
}
.foto-left {
    position: absolute;
    left: -10%;     /* вихід за межі екрана */
    bottom: 0; 
    width: clamp(220px, 40vw, 450px);  /* фіксована ширина для стабільності */
    object-fit: cover; 
 } 

.foto-right {
    position: absolute;
    bottom: 0;
    right: clamp(-120px, -15vw, -240px);
    width: clamp(300px, 55vw, 700px);
    max-width: 100vw;
    object-fit: cover;
}
.kolo1, .kolo2, .kolo3 {
    width: clamp(40px, 10vw, 80px);
    height: clamp(40px, 10vw, 80px);
    border-radius: 50%;
    margin-bottom: clamp(12px, 4vw, 25px);
}
.kolo1{
    background-color: #9256e3;
}
.kolo2{
    background-color: #b27cdc;
}
.kolo3{
    background-color: #ee609c;
}
.work-title{
    font-size: 42px;
    letter-spacing: 1px;
    line-height: 58px;
    color: #b565d9;
    font-weight: bold;
    text-align: center;
    margin-bottom: 46px;
}
.works-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 56px;
}
.work-border{
    /* width: 389px; */
    width: clamp(150px, 40vw, 389px);
    height: clamp(230px, 60vw, 572px);
    border-radius: 100px;
    filter: drop-shadow(0px 2px 4px #902bb8);
    background-color: #ffffff;
    border: 4.68px solid #fcfeff;
}
.title-reviews{
    font-size: 42px;
    letter-spacing: 1px;
    line-height: 58px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
.bg-2{
    /* margin-top: 600px; */
    position: relative;
    padding-bottom: 900px;
    width: 100%;

}
.bg-2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    
    height: 2000px; /* ВИСОТА ТВОГО background зображення */
    
    background-image: url(../images/bg_2.png);
    background-repeat: no-repeat;
    background-position: top center;
    aspect-ratio: 1080 / 2635;
    background-size: 100% auto; /* по ширині тягнеться, висота зберігається */

    z-index: -1; /* щоб був під контентом */
}
.feedbacks-wrapper{
    display: flex;
    justify-content: center;
    
}
.feed{
    width: clamp(150px, 60vw, 546px); 
    height: clamp(100px, 40vw, 315px); ;
    border-radius: 138px;
    border: 3px double #ffffff;
    background-image: linear-gradient(45deg, #e8e8e8 21%, #eeedee 44%, #fffeff 100%);

}
.arrow-a{
    position: fixed;
    bottom: 30px;
    left: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 20;
    /* background-color: #ee609c; */
}
.arrow-img{
    margin-left: 4px;
    margin-top: 2px;
    z-index: 21;
    width: 40px;
    height: 40px;
}
.my-item-wrap {
    display: grid;
    gap: 32px;
}
.my-item{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
@media (max-width: 1024px) {
    .foto-left,
    .foto-right {
        display: none;
    }
    .bg-foto{
        height: 100%;
    }
}

@media (max-width: 768px) { }


@media (max-width: 600px) {
}
@media (max-width: 480px) { }

